<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="parent">
                <input class="hide" type="radio" id="Email" name="tab" checked>
                <input class="hide" type="radio" id="Phone" name="tab">
                <input class="hide" type="radio" id="Address" name="tab">
                <div class="tab-container">
                    <label class="tab " for="Email">Email</label>
                    <label class="tab" for="Phone">Phone</label>
                    <label class="tab" for="Address">Address</label>
                </div>
                <div class="tab-content tab-email-content">
                   Mail us at info@eventx.com
                </div>

                <div class="tab-content tab-phone-content">
                    Call us at +1-234-567-8900
                </div>

                <div class="tab-content tab-address-content">
                    Visit us at 123 Event Street, City, Country
                </div>

        </div>
</body>
</html>