<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="FAQ-container">
            <h3 class="title">Frequently Asked Questions</h3>
            <div class="FAQ">
                <label class="faq-label" for="faq1"> <h4>How do I book an event?</h4></label>
                <input class="checkbox" type="radio" id="faq1" name="faq">
                <p class="hide">You can book an event by clicking on the "Book Now" button on the event page and following the instructions.</p>
            </div>
            <div class="FAQ">
                <label class="faq-label" for="faq2"> <h4>What is the refund policy?</h4></label>
                <input class="checkbox" type="radio" id="faq2" name="faq">
                <p class="hide">Refunds are available up to 7 days before the event. Please refer to our refund policy for more details.</p>
            </div>
            <div class="FAQ">
                <label class="faq-label" for="faq3"> <h4>Can I change my booking?</h4></label>
                <input class="checkbox" type="radio" id="faq3" name="faq">  
                <p class="hide">Yes, you can change your booking up to 3 days before the event. Please contact our support team for assistance.</p>
            </div>
        </div>
</body>
</html>