<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="title">Upcoming Events</h3>
        <div class="cards">
            <div class="card">
                <img class="cardimg" src="/Task8/templates/event.jpeg" alt="event1">
                <div class="container">
                    <h4>IPL 2026</h4>
                    <p>Join us for an exhilarating sports event featuring thrilling matches and exciting activities. Don't miss out on the action!</p>
                </div>
            </div>
            <div class="card">
                <img class="cardimg" src="/Task8/templates/event.jpeg" alt="event2">
                <div class="container">
                    <h4>Music Festival 2026</h4>
                    <p>Experience the best of music with our annual festival. Featuring top artists and unforgettable performances!</p>
                </div>
            </div>
            <div class="card">
                <img class="cardimg" src="/Task8/templates/event.jpeg" alt="event3">
                <div class="container">
                    <h4>Art Exhibition 2026</h4>
                    <p>Discover the world of art with our curated exhibition. Showcasing works from emerging and established artists.</p>
                </div>
            </div>
             <div class="card">
                <img class="cardimg" src="/Task8/templates/event.jpeg" alt="event4">
                <div class="container">
                    <h4>IPL 2026</h4>
                    <p>Join us for an exhilarating sports event featuring thrilling matches and exciting activities. Don't miss out on the action!</p>
                </div>
            </div>
             <div class="card">
                <img class="cardimg" src="/Task8/templates/event.jpeg" alt="event5">
                <div class="container">
                    <h4>IPL 2026</h4>
                    <p>Join us for an exhilarating sports event featuring thrilling matches and exciting activities. Don't miss out on the action!</p>
                </div>
            </div>
             <div class="card">
                <img class="cardimg" src="/Task8/templates/event.jpeg" alt="event6">
                <div class="container">
                    <h4>IPL 2026</h4>
                    <p>Join us for an exhilarating sports event featuring thrilling matches and exciting activities. Don't miss out on the action!</p>
                </div>
            </div>
        </div>
</body>
</html>