* {
  margin: 0;
  padding: 0;
}

.container{
    width: 400px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}


#content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-title{
    font-size: 17px;
    font-weight: bold;
}

.title{
    padding-top: 10px;
    padding-bottom: 20px;
}

.post{
    padding: 10px;
}

.post-content{
    background-color: #f0f0f0;
    padding: 10px;
}