

.chatbot {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.chat-container {
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#chat-box{
    margin-bottom: 44px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
}

input{
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.user{
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 60%;
    display: inline;
}
.bot{
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: flex-start;
    display: inline;
}